/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

All Custom CSS Code
Developer:  Motalib Hossain
Author URI: https://github.com/MotalibHossain
linkedin  : https://www.linkedin.com/in/motalibhossain/

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/





/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    Main Navigation
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.navigation {
    background: rgb(73, 57, 113);
    height: 100%;
    min-height: 100vh;

    .nav-tabs {
        position: relative;
        top: 39px;
        display: unset !important;

        h1 {
            font-size: 24px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 20px;
            color: #fff;
        }
        img {
            margin-left: 20%;
            position: relative;
            top: -9px;
        }

        .nav-item {
            margin-left: 12px;

            .nav-link {
                color: #fff;

                svg {
                    position: relative;
                    width: 60px;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                }

                b:nth-child(1) {
                    position: absolute;
                    top: -15px;
                    height: 15px;
                    width: 100%;
                    background: #fff;
                    display: none;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-bottom-right-radius: 20px;
                        background: rgb(73, 57, 113);
                    }
                }
                b:nth-child(2) {
                    position: absolute;
                    bottom: -15px;
                    height: 15px;
                    width: 100%;
                    background: #fff;
                    display: none;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-top-right-radius: 20px;
                        background: rgb(73, 57, 113);
                    }
                }

                &:hover {
                    border-color: unset !important;
                }
            }

            .nav-item.show .nav-link {
                color: black !important;
            }

            .nav-link.active b:nth-child(1),
            .nav-link.active b:nth-child(2) {
                display: block;
            }
        }
    }

    .nav-fill .nav-item .nav-link,
    .nav-item .nav-link {
        position: relative;
        font-size: 1rem !important;
        padding: 10px 0;
        margin-bottom: 5px;
        justify-content: center;
        border: unset !important;
        border-top-right-radius: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        transition: none !important;
    }
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    Main layout
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.main__container {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    margin: 40px 0px;
    background: rgb(254, 254, 254);
    box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
        0 1px 0 0 rgba(255, 255, 255, 0.66) inset,
        0 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    z-index: 10;
    overflow: hidden;

    .left__main {
        width: 200px;
    }
    .right__main {
        width: 100%;
        padding: 15px;
    }
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    Main Layout left site-bar
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.right__sitebar,
.left__sitebar {
    background: #f6f7fb;
    border-radius: 15px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    Main Layout Right site-bar
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.bets_title {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 700;
}
.personal__bets {
    width: 100%;
    .bets_info {
        padding: 5px 0px;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 10px;
        background-color: rgba(185, 159, 237, 0.6);
        img {
            max-width: 100px;
            aspect-ratio: 4/3;
        }
    }
    .binfo {
        font-size: 0.9rem;
        font-weight: 700;
        border-radius: 10px;
        padding: 10px;
    }
    .binfo-1 {
        background-color: rgba(238, 184, 114, 0.6);
        img {
            max-width: 90px;
            aspect-ratio: 3/3;
            align-self: flex-end;
            float: right;
        }
    }
    .binfo-2 {
        background-color: rgba(184, 224, 192, 0.6);
        img {
            max-width: 70px;
            aspect-ratio: 1/1;
            align-self: flex-end;
            float: right;
        }
    }
}

.left__sitebar {
    width: 100%;
    padding: 20px 10px;

    h4 {
        font-size: 1.3rem;
        font-weight: 700;
    }
    .image__gallary {
        margin-inline: 4px;

        .image_body {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 150px);
            column-gap: 10px;

            .card_1 {
                display: block;
                grid-area: 1 / 1 / 2 / 2;
            }
            .card_2 {
                grid-area: 2 / 1 / 3 / 2;
            }
            .card_3 {
                display: block;
                grid-area: 1 / 2 / 3 / 4;
            }
            .card_4 {
                grid-area: 1 / 4 / 2 / 5;
            }
            .card_5 {
                grid-area: 1 / 5 / 2 / 6;
            }
            .card_6 {
                display: block;
                grid-area: 2 / 4 / 3 / 6;
            }

            .image_card {
                position: relative;
                margin-bottom: 10px;
                border-radius: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                }

                .card-overlay {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: flex-end;
                    background: linear-gradient(
                        180deg,
                        transparent,
                        transparent,
                        rgba(3, 3, 185, 0.5)
                    );
                    border-radius: 10px;
                    h3 {
                        margin-bottom: 8px;
                        margin-right: 10px;
                        color: #fff;
                    }
                }
            }
        }
    }
    .weekly_activity {
        h4 {
            margin-top: 40px;
            font-size: 1.3rem;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .week_activity {
            margin-bottom: 5px;
            .left {
                h1 {
                    font-size: 1.6rem;
                    font-weight: 600;
                    margin-top: 3px;
                    margin-bottom: -3px;
                }
                span {
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    font-weight: 600;
                    transform: translateY(-3px);
                }
            }
            .middle {
                img {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;

                    &:not(:first-child) {
                        margin-left: -10px;
                    }
                }
            }
            .btn {
                margin-top: 10px;
            }
        }
        .week_one {
            background-color: rgb(124, 136, 224, 0.5);
            background-image: linear-gradient(
                240deg,
                rgb(124, 136, 224) 0%,
                #c3f4fc 100%
            );
        }
        .week_two {
            background-color: #aee2a4a1;
            background-image: linear-gradient(
                240deg,
                #e5a243ab 0%,
                #f7f7aa 90%
            );
        }
        .week_three {
            background-color: #ecfcc376;
            background-image: linear-gradient(240deg, #97e7d1 0%, #ecfcc3 100%);
        }
        .week_four {
            background-color: #e6a7c3b5;
            background-image: linear-gradient(240deg, #fc8ebe 0%, #fce5c3 100%);
        }
    }
}
.right__sitebar {
    padding: 20px 10px 11px 10px;

    .right_top {
        h5 {
            font-size: 1.2rem;
            font-weight: 700;
        }
        img {
            height: 40px;
            width: 40px;
            margin-top: -10px;
        }
        .Icons svg {
            width: 30px;
            height: 20px;
            font-size: 20px;
            text-align: center;
        }
    }

    .activity {
        align-items: center;
        background-color: rgb(214, 227, 248);
        padding: 0px 10px 25px 10px;
        margin: 15px 0px 0;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
        h1 {
            margin-top: 10px;
            font-size: 1.2rem;
            font-weight: 700;
        }
        .CircularProgressbar {
            width: 100%;
            height: 86px;
            margin-top: 8px;

            .CircularProgressbar-trail {
                stroke: #eee !important;
            }
            .CircularProgressbar-path {
                stroke: #590b94 !important;
            }

            .CircularProgressbar-text {
                font-size: 1.25rem;
                fill: rgb(91, 95, 111) !important;
                font-weight: 600;
            }
        }

        .activity-contant {
            padding-top: 10px;
            p {
                font-size: 1rem;
                margin-bottom: 0px;
            }

            p span {
                font-weight: 700;
            }
        }
    }
    .right_best_info {
        padding: 0px 10px 25px 10px;
    }
    .other__activity {
        width: 100%;

        h1 {
            font-size: 1.2rem;
            font-weight: 700;
            margin: 15px 0 10px 15px;
        }
        .activity_card {
            background-color: #fff;
            // margin: 0 10px;
            padding: 5px 7px;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
            .info {
                img {
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    border: 2px solid #787272;
                }
                h2 {
                    padding-top: 6px;
                    font-size: 0.8rem;
                    font-weight: 700;
                    margin-left: 5px;
                }
            }
            img {
                height: 100%;
                width: 100%;
                border-radius: 10px;
            }
            p {
                font-size: 0.9rem;
                padding: 0 5px 5px;
            }
        }
    }
}

